<% include ../partials/header %>

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/admin/customers">Customers</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/stock">Stock</a></li>
            <li><a href="/admin/invoices">Invoices</a></li>
            <li><a href="/admin/creditnotes">Credit Notes</a></li>
            <li class="active"><a href="/admin/offers">Offers</a></li>
            <li><a href="/admin/reports">Reports</a></li>
        </ul>
    </nav>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Offers</h1>
            </div>
        </header>
    </div>
</div>
<% include ../partials/footer %>