    <p>TradeMark Stock System 2018</p>

    <!-- Bootstrap core JavaScript-->
    <script src="../../public/jquery/jquery.min.js"></script>
    <script src="../../public/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../../public/jquery-easing/jquery.easing.min.js"></script>

    </body>
</html>