<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/user">Stock System</a>
        <span class="navbarName"><%= userFName %></span>
        <a class="logout" href="/logout">Logout</a>
    </div>
</nav>