<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Customer List</h1>
            <p>
                <a class = "btn btn-primary btn-large" href ="/customers/new">Add New Customer</a>
            </p>
        </div>
    </header>

    <div class="row">
        <% customers.forEach(function(customers){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <h4><%= customers.name %></h4>
                <p><%= customers.town %></p>
            </div>
        </div>
        <% }); %>
    </div>

</div>

<% include ../partials/footer %>