<% include ../partials/header %>

<h1>These are the customers</h1>

<a href ="/customers/new">Add New Customer</a>

<% customers.forEach(function(customers){ %>
    <div>
        <h4><%= customers.name %></h4>
        <p><%= customers.town %></p>
    </div>
<% }); %>

<% include ../partials/footer %>