<% include ../partials/header %>


<div class="container">
    <header class="jumbotron">
        <h1>Welcome</h1>
    </header>
    <% customers.forEach(function(customers){ %>
        <div>
            <h4><%= customers.name %></h4>
            <p><%= customers.town %></p>
        </div>
    <% }); %>

    <a href="/customers">Go To Customers</a>
</div>
<% include ../partials/footer %>