<% include ../partials/header %>

<h1>Create a New Customer</h1>

<form action="/customers" method="POST">
    <input type="text" name = "customerBusiness" placeholder="Business Name">
    <input type="text" name = "customerAddress1" placeholder="Address Line 1">
    <input type="text" name = "customerAddress2" placeholder="Address Line 2">
    <input type="text" name = "customerAddress3" placeholder="Address Line 3">
    <input type="text" name = "customerCountry" placeholder="Country">
    <input type="text" name = "customerNumber" placeholder="Business Number">
    <input type="text" name = "customerVAT" placeholder="VAT Number">
    <input type="text" name = "customerEmail" placeholder="Email">
    <input type="text" name = "customerEmailCC" placeholder="CC Email">
    <input type="text" name = "customerPhone" placeholder="Phone Number">
    <button>Submit!</button>
</form>

<a href="/customers">Go Back</a>

<% include ../partials/footer %>