<% include ../partials/header %>

<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li><a href="/user">Dashboard</a></li>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/stock">Stock</a></li>
            <li><a href="/invoices">Invoices</a></li>
            <li><a href="/creditnotes">Credit Notes</a></li>
            <li class="active"><a href="/offers">Offers</a></li>
            <li><a href="/reports">Reports</a></li>
        </ul>
    </nav>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Offers</h1>
            </div>
        </header>

<% include ../partials/footer %>