.wrapper {
    display: flex;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    height: 100vh;
    background: #7386D5;
    color: #fff;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align:center;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a {
    color: #fff;
    background: #565eac;
}
