.wrapper {
    display: flex;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    height: 150vh;
    background: #02802f;
    color: #fff;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align:center;
}

#sidebar ul li a:hover {
    color: #02802f;
    background: #fff;
}

#sidebar ul li.active > a {
    color: #fff;
    background: #025f27;
}

.logout{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 1.3em;
}

.logout:hover{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #d6d6d6;
}

.navbarName{
    color: #ffffff;
    font-size: 1.3em;
}

.generalTable{
    border-collapse: collapse;
    width: 100%;
}

.generalTable td, .generalTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.generalTable tr:nth-child(even){
    background-color: #e5e5e5;
}

.generalTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #02802f;
    color: white;
}

.button{
    padding: 12px 22px;
    border: 0 none;
    font-weight: 700;
    border-radius: 15px;
    margin-bottom: 20px;
}

.button:focus, .button:active:focus, .button.active:focus {
    outline: 0 none;
}

.button-primary {
    background: #02802f;
    color: #ffffff;
}

.button-primary:hover, .button-primary:focus, .buttonn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #029730;
    color: #ffffff;
}

.button-primary:active, .button-primary.active {
    background: #02a533;
    box-shadow: none;
    color: #ffffff;
}

.button-form {
    margin-left: 25%;
}

.editButton{
    font-weight: bold;
}

.form-center{
    width: 90%;
    margin: 0 auto;
}

.reportTable{
    border-collapse: collapse;
    width: 50%;
    float: left;
}

.reportTable td, .reportTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.reportTable tr:nth-child(even){
    background-color: #e5e5e5;
}

.reportTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #02802f;
    color: white;
}

.totalTable{
    border-collapse: collapse;
    width: 20%;
    position: absolute;
    bottom:75px;
    margin-left:25%;
}

.totalTable td, .reportTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.totalTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #02802f;
    color: white;
}